.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

bin/
obj/
out/
.vs/
*.user
*.suo

__pycache__/
*.pyc
.venv/
venv/

.env
.env.*
